# Bybit
BYBIT_API_KEY=hk8w3WBWF8pXmyDggz
BYBIT_API_SECRET=05qUWnBLhdZxNmglqAqMO0tlqdwpsGqdAUeb
BYBIT_TESTNET=true
BYBIT_BASE_URL=https://api-testnet.bybit.com

# Database
# DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/crypto_bot
DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/cryptobot

# App
APP_ENV=development
APP_NAME=crypto-bot
LOG_LEVEL=INFO
DEFAULT_SYMBOL=BTCUSDT
DEFAULT_TIMEFRAME=5m
